/* Desktop-first */

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: var(--font-medium);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'CircularStd';
  src: url(../src/fonts/CircularStd-Medium.woff) format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'CircularStd';
  src: url(ścieżka/do/pliku/CircularStd-Italic.woff) format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd';
  src: url(ścieżka/do/pliku/CircularStd-Bold.woff) format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'CircularStd';
  src: url(ścieżka/do/pliku/CircularStd-Black.woff) format('woff');
  font-weight: 900;
}

:root {
  --primary: #3d4f5c;
  --primary-orange: #fb8958;
  --complementary-green: #46b8c8;
  --font-medium: 'CircularStd', Arial, sans-serif;
  --font-italic: 'CircularStd-Italic', Arial, sans-serif;
  --font-bold: 'CircularStd-Bold', Arial, sans-serif;
  --font-black: 'CircularStd-Black', Arial, sans-serif;
}

.body {
  font-family: var(--font-medium);
  color: var(--primary);
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 7.5em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.nav-menu {
  display: block;
  position: inherit;
}

.nav-menu.active {
  display: block;
}

.nav-menu-toggle {
  position: absolute;
  right: 2em;
  top: 2.85em;
  cursor: pointer;
  visibility: hidden;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: var(--primary);
  margin: 5px 0;
}

.nav-links {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  margin-top: 10px;
  top: 6em;
  left: 0;
}

.nav-links a {
  display: block;
  font-family: var(--font-medium);
  color: var(--primary);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.18px;
  text-decoration: none;
  text-transform: capitalize;
}

.nav-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 40px;
}

.button {
  display: block;
  width: 185px;
  height: 45px;
  flex-shrink: 0;
  background-color: var(--complementary-green);
  color: white;
  border-radius: 32.5px;
  border: 1px solid var(--complementary-green, #46b8c8);
  color: var(--complementary-green, #46b8c8);
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.18px;
  text-decoration: none;
  padding: 14px 20px;
  margin: 25px 0;
}

.button-ghost {
  flex-shrink: 0;
  background-color: transparent;
  color: var(--complementary-green) !important;
  border-radius: 32.5px;
  border: 1px solid var(--complementary-green, #46b8c8);
  color: var(--complementary-green, #46b8c8);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  padding: 14px 34px;
}

section {
  padding-top: 140px;
  padding-bottom: 140px;
  min-width: calc(100% - 240px);
  margin-left: 120px;
  margin-right: 120px;
  overflow: hidden;
  position: relative;
}

.section:nth-child(odd) {
  background-color: #fbfafa;
}

.section:nth-child(even) {
  background-color: #fff;
}

.section:last-child {
  background-color: #ffc351;
}

section h1 {
  color: #3d4f5c;
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  line-height: 85px; /* 100% */
  letter-spacing: -1.7px;
  margin-bottom: 25px;
}

section h2 {
  color: #3d4f5c;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 100% */
  letter-spacing: -1px;
  margin-bottom: 32px;
}

section h3 {
  color: var(--primary-orange, #fb8958);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
  letter-spacing: -0.4px;
  margin: 25px 0;
  /* margin: 155px auto auto 140px; */
}

section p {
  margin: 25px 0;
  color: var(--primary-orange);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.01em;
  text-align: left;
}

#cta-image {
  position: absolute;
  top: 25%;
  right: -7%;
}

#cta-image img {
  display: block;
  width: 100%;
  position: relative;
}

.features-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 80px;
}

.features-image {
  width: 75px;
height: 88px;
position: absolute;
right: 25px;
top: 130px;
}

.features-grid-item h3 {
  color: var(--primary-orange, #FB8958);
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: -0.3px;
  max-width: 50px;
  padding: 19px 0;
  text-align: left;
  margin: 80px 0 45px 0;
  position: relative; /
}

.features-grid-item h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 50px;
  height: 1px;
  background-color: #3D4F5C;
}

.features-grid-item > p {
  color: #3D4F5C;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 38px;
letter-spacing: -0.3px;
  height: 114px;
}

.values-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 80px;
}

.values-grid-item > p {
  color: #3D4F5C;
font-family: Circular Std;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 38px; /* 126.667% */
letter-spacing: -0.3px;
  height: 114px;
}

.values-grid-item > h3 {
  color: var(--primary-orange, #FB8958);
font-family: Circular Std;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 100% */
letter-spacing: -0.3px;
  /* border-bottom: 1px solid #3D4F5C; */
  padding: 19px 0;
  text-align: left;
  margin: 85px 0 0 0;
  position: relative; /
}

.values-grid-item h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0; /* Przesunięcie linii w górę o połowę jej wysokości */
  width: 50px; /* Szerokość linii border-bottom */
  height: 1px; /* Grubość linii border-bottom */
  background-color: #3D4F5C;
}

.works-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.works-card {
  border-radius: 30px;
background: #FFF;
box-shadow: 0px 8px 35px 0px rgba(187, 169, 142, 0.15);
  height: 554px;
  padding-top: 45px;
  padding-bottom: 50px;
  text-align: center;
    position: relative; display: flex; 
  flex-direction: column; 
  align-items: center;
}

.works-card-content {
  position: absolute; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  bottom: 0px;
}

.works-card-content button {

  border-radius: 32.5px;
border: 1px solid var(--complementary-green, #46B8C8);
  width: 107px;
height: 45px;
flex-shrink: 0;
  background-color: transparent;
}

.works-card-content figure {
  width: 75%;
  height: auto;
  border: 1px solid blue;
  margin: 20px auto;
}

.works-card-content p {
  width: 386px;
  color: #3D4F5C;
text-align: center;
font-family: Circular Std;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
letter-spacing: -0.16px;
}

.works-card-content h4 {
color: #A9BC87;
text-align: center;
font-family: Circular Std;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 93.75% */
letter-spacing: -0.32px;
}

.works-card h4 {
color: #A9BC87;
text-align: center;
font-family: Circular Std;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 93.75% */
letter-spacing: -0.32px;
}

.works-card p {
  width: 386px;
  color: #3D4F5C;
text-align: center;
font-family: Circular Std;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
letter-spacing: -0.16px;
}

.works-card button {

  border-radius: 32.5px;
border: 1px solid var(--complementary-green, #46B8C8);
  width: 107px;
height: 45px;
flex-shrink: 0;
  background-color: transparent;
  position: absolute;
  bottom: 50px;
}

.works-card figure {
  width: 448px;
  height: 294px;
  border: 1px solid red;
  margin: 20px auto;
  position: absolute; 
  bottom: 115px;
}

.contact-form {

  background-color: #FFC351;
background: var(--secondary-yellow, #FFC351);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-form h2 {
    color: #FFFFFF;
font-family: Circular Std;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 55px; /* 91.667% */
letter-spacing: -1.2px;
  margin-bottom: 34px;
}

.contact-form p {
  color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 100% */
letter-spacing: -0.24px;
}

.contact-form-card {
  border-radius: 10px;
background: #F3F3F3;
box-shadow: 0px 8px 35px 0px rgba(187, 169, 142, 0.15);
  max-width: 512px;
  height: 601px;
    position: relative; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  padding: 42px;
}

.contact-form-card > * {
  width: 429px;
  /* height: 601px; */
}

.contact-form-card input {
  border-radius: 10px;
background: #FFF;
box-shadow: 0px 8px 35px 0px rgba(187, 169, 142, 0.15);
height: 54px;
flex-shrink: 0;
  margin: 16px auto;
}

.contact-form-card #message {
  height: 270px;
}

.contact-form-card #message::placeholder {
      position: relative;
    top: -130px; /* Wartość ta będzie zależała od wysokości textarea i preferowanego wyglądu */
    color: #999;
}

.contact-form-card button {
  width: 243px;
height: 45px;
flex-shrink: 0;
  border-radius: 32.5px;
border: 1px solid #3D4F5C;
background: #3D4F5C;
  color: #fff;
  margin: 40px auto;
}

.footer a {
  color: var(--complementary-green, #46B8C8);
font-family: Circular Std;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
  text-decoration: none;
}

.footer {
      position: relative; 
  display: flex; 
  flex-direction: row; 
  align-items: center;
  width: 100%;
  padding-bottom: 120px;
}

.footer-group {
  position: relative; 
  display: grid; 
  grid-template-columns: 1fr;
  align-items: center;
  width: 100%;
}

.footer-grey {
  color: #939393;
font-family: Circular Std;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
  width: 156px;
  /* margin-top: 85px; */
}

.footer-logo {
  width: 180px;
}


/* Tablet */
@media (min-width: 401px) and (max-width: 1024px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
    padding: 10px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    margin-top: 60px;
    background-color: #fff;
  }

  .nav-links button {
    margin-top: 20px;
  }

  .nav-links ul {
    list-style: none;
    width: 100%;
    text-align: center;
    display: block;
  }

  .nav-links ul li {
    margin: auto;
    padding-bottom: 40px;
  }

  .nav-links button::after {
    content: '';
    display: block;
    width: 40%;
    height: 1px;
    background-color: var(--primary);
    position: absolute;
    bottom: calc(60%);
    left: 0;
    transform: translateX(87%);
  }

  .nav-menu {
    display: none;
    z-index: 2;
  }

  .nav-menu-toggle {
    visibility: visible;
    display: block;
  }

  #cta-image {
    display: none;
  }
}

/* Mobile */
@media (max-width: 400px) {
  .container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }


  .nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    margin-top: 60px;
    background-color: #fff;
  }

  .nav-links button {
    margin-top: 20px;
  }

  .nav-links ul {
    list-style: none;
    width: 100%;
    text-align: center;
    display: block;
  }

  .nav-links ul li {
    margin: auto;
    padding-bottom: 40px;
  }

  .nav-links button::after {
    content: '';
    display: block;
    width: 40%;
    height: 1px;
    background-color: var(--primary);
    position: absolute;
    bottom: calc(60%);
    left: 0;
    transform: translateX(87%);
  }

  .nav-menu {
    display: none;
    z-index: 2;
  }

  .nav-menu-toggle {
    visibility: visible;
    display: block;
  }

  #cta-image {
    display: none;
  }

  section {
    padding-top: 140px;
    padding-bottom: 140px;
    width: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
  }

  .cta h1 {
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -1.7px;
    margin-bottom: 25px;
  }
}
