/* Desktop-first */

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: var(--font-medium);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@font-face {
  font-family: 'CircularStd';
  src: url(../src/fonts/CircularStd-Medium.woff) format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'CircularStd';
  src: url(ścieżka/do/pliku/CircularStd-Italic.woff) format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd';
  src: url(ścieżka/do/pliku/CircularStd-Bold.woff) format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'CircularStd';
  src: url(ścieżka/do/pliku/CircularStd-Black.woff) format('woff');
  font-weight: 900;
}

:root {
  --primary: #3d4f5c;
  --primary-orange: #fb8958;
  --complementary-green: #46b8c8;
  --font-medium: 'CircularStd', Arial, sans-serif;
  --font-italic: 'CircularStd-Italic', Arial, sans-serif;
  --font-bold: 'CircularStd-Bold', Arial, sans-serif;
  --font-black: 'CircularStd-Black', Arial, sans-serif;
}

.body {
  font-family: var(--font-medium);
  color: var(--primary);
}

.container {
  width: 85%;
  max-width: 1440px;
  margin: 0 7.5em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.nav-menu {
  display: block;
  position: inherit;
}

.nav-menu.active {
  display: block;
}

.nav-menu-toggle {
  position: absolute;
  right: 2em;
  top: 1.5em;
  cursor: pointer;
  visibility: hidden;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: var(--primary);
  margin: 5px 0;
}

.nav-links {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  margin-top: 10px;
  top: 6em;
  left: 0;
}

.nav-links a {
  display: block;
  font-family: var(--font-medium);
  color: var(--primary);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.18px;
  text-decoration: none;
  text-transform: capitalize;
}

.nav-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 40px;
}

.button {
  display: inline-block;
  background-color: var(--complementary-green);
  border-radius: 32.5px;
  border: 1px solid var(--complementary-green, #46b8c8);
  color: #fff;
  font: 700 18px/1.5 sans-serif;
  letter-spacing: -0.18px;
  text-decoration: none;
  padding: 14px 20px;
  margin: 25px 0;
}

.button:hover {
  color: var(--complementary-green, #46b8c8) !important;
  background-color: transparent;
}

.button:active {
  color: var(--complementary-green, #46b8c8) !important;
  background-color: transparent;
}

.button-ghost {
  display: inline-block;
  background-color: transparent;
  border-radius: 32.5px;
  border: 1px solid var(--complementary-green, #46b8c8);
  text-align: center;
  font: 700 18px/1.5 sans-serif;
  text-decoration: none;
  padding: 16px 34px;
  color: var(--complementary-green, #46b8c8) !important;
}

.button-ghost:hover {
  color: #fff !important;
  background-color: var(--complementary-green, #46b8c8);
}

.button-ghost:active {
  color: #fff !important;
  background-color: var(--complementary-green, #46b8c8);
}

section {
  padding-top: 140px;
  padding-bottom: 140px;
  min-width: calc(100% - 240px);
  max-width: 1440px;
  margin-left: 120px;
  margin-right: 120px;
  overflow: hidden;
  position: relative;
}

.section:nth-child(odd) {
  background-color: #fbfafa;
}

.section:nth-child(even) {
  background-color: #fff;
}

.section:last-child {
  background-color: #ffc351;
}

section h1 {
  color: #3d4f5c;
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  line-height: 85px; /* 100% */
  letter-spacing: -1.7px;
  margin-bottom: 25px;
}

section h2 {
  color: #3d4f5c;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 100% */
  letter-spacing: -1px;
  margin-bottom: 32px;
}

section h3 {
  color: var(--primary-orange, #fb8958);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
  letter-spacing: -0.4px;
  margin: 25px 0;
}

section p {
  margin: 25px 0;
  color: var(--primary-orange);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.01em;
  text-align: left;
}

#cta-image {
  position: absolute;
  top: 205px;
  right: -3%;
}

#cta-image img {
  display: block;
  width: 100%;
  position: relative;
}

.features-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 80px;
}

.section-image {
  width: 75px;
  height: 88px;
  position: absolute;
  right: 103px;
  top: 135px;
  z-index: 33;
}

#thumb-guy {
  width: 64px;
  height: 57.492px;
  flex-shrink: 0;
}

.shadow {
  -webkit-box-shadow: 0px 4px 9px -4px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 4px 9px -4px rgba(66, 68, 90, 1);
  box-shadow: 0px 4px 9px -4px rgba(66, 68, 90, 1);
}

#thumb-guy::before {
  content: '';
  display: block;
  width: 114px;
  height: 113px;
  flex-shrink: 0;
  border-radius: 112px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-box-shadow: 0px 4px 9px -4px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 4px 9px -4px rgba(66, 68, 90, 1);
  box-shadow: 0px 4px 9px -4px rgba(66, 68, 90, 1);
}

#thumb-guy::after {
  content: '';
  display: block;
  width: 95px;
  height: 95px;
  border-radius: 95px;
  background: #f5f5f5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#thumb-rectangle {
  position: absolute;
  top: -90px;
  right: 250px;
  z-index: 3;
}

#thumb-rectangle-text {
  width: 221px;
  height: 28px;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  position: absolute;
  right: 220px;
  top: 50px;
  z-index: 4;
}

#thumb-rectangle-text::after {
  content: '';
  display: inline-block;
  width: 11px;
  height: 14px;
  position: absolute;
  top: -7px;
  right: -70px;
  background-image: url('./images/x.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.features-grid-item h3 {
  color: var(--primary-orange, #fb8958);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.3px;
  max-width: 50px;
  padding: 19px 0;
  text-align: left;
  margin: 80px 0 45px 0;
  position: relative;
}

.features-grid-item h3::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 50px;
  height: 1px;
  background-color: #3d4f5c;
}

.features-grid-item > p {
  color: #3d4f5c;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: -0.3px;
  height: 114px;
}

.thumb-left {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.thumb-right {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.thumb-left::before {
  content: '';
  display: inline-block;
  min-width: 59px;
  height: 66px;
  background-image: url('./images/thumb.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 32px;
  transform: scaleX(-1);
}

.thumb-right::after {
  content: '';
  display: inline-block;
  min-width: 59px;
  height: 66px;
  background-image: url('./images/thumb.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 32px;
}

.center {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#hiring-button {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
  margin: 30px auto;
  width: 243px;
  height: 45px;
  flex-shrink: 0;
}

.values-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 80px;
}

.values-grid-item > p {
  color: #3d4f5c;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: -0.3px;
  height: 114px;
}

.values-grid-item > h3 {
  color: var(--primary-orange, #fb8958);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.3px;
  padding: 19px 0;
  text-align: left;
  margin: 85px 0 0 0;
  position: relative;
}

.values-grid-item h3::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 1px;
  background-color: #3d4f5c;
}

.works-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  margin-bottom: 180px;
  margin-top: 55px;
  justify-content: center;
}

.works-card {
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 8px 35px 0px rgba(187, 169, 142, 0.15);
  height: 554px;
  margin-bottom: 25px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 588px;
  padding: 45px 0 180px 0;
}

.works-card h4 {
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.32px;
  margin-bottom: 25px;
  margin-top: 0;
}

#our-works-header {
  margin-top: -5px;
}

.works-grid-item:nth-child(1) h4 {
  color: #a9bc87;
}

.works-grid-item:nth-child(2) h4 {
  color: #8bb5c9;
}

.works-grid-item:nth-child(3) h4 {
  color: #00a0b6;
}

.works-grid-item:nth-child(4) h4 {
  color: #8b60d3;
}

.works-card p {
  width: 386px;
  color: #3d4f5c;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.16px;
  margin-top: 0;
  margin-bottom: 25px;
}

.works-card button {
  border-radius: 32.5px;
  border: 1px solid var(--complementary-green, #46b8c8);
  color: var(--complementary-green, #46b8c8);
  width: 107px;
  height: 45px;
  flex-shrink: 0;
  background-color: transparent;
  position: absolute;
  bottom: 50px;
  color: var(--complementary-green, #46b8c8);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.works-card figure {
  width: auto;
  height: 244px;
  margin: 20px auto;
  position: absolute;
  bottom: 105px;
}

#works-h3 {
  width: 100%;
  margin: auto;
  padding: 0 100px;
  color: var(--primary-orange, #fb8958);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: -0.4px;
}

#hiring-section::before {
  content: '';
  width: 318px;
  height: 318px;
  position: absolute;
  top: 22%;
  left: 0;
  background-image: url('./images/hiringframe4.png');
}

#hiring-section::after {
  content: '';
  width: 318px;
  height: 318px;
  position: absolute;
  top: 21%;
  right: 0;
  background-image: url('./images/hiringframe5.png');
}

#contact-form-section {
  padding-bottom: 70px;
}

.contact-form {
  background: var(--secondary-yellow, #ffc351);
}

.contact-form-card::before {
  content: '';
  position: absolute;
  right: 65px;
  bottom: -270px;
  display: block;
  width: 399.459px;
  height: 868.551px;
  background-image: url('./images/contact-form-background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.contact-form h2 {
  color: #ffffff;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -1.2px;
  margin-bottom: 35px;
}

.contact-form p {
  color: #fff;
  text-align: left;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.24px;
  margin-top: 35px;
}

.contact-form-card form {
  border-radius: 10px;
  background: #f3f3f3;
  box-shadow: 0px 8px 35px 0px rgba(187, 169, 142, 0.15);
  max-width: 512px;
  height: 601px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 42px 40px 41px;
}

.contact-form-card > * {
  width: 429px;
}

.contact-form-card input {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 8px 35px 0px rgba(187, 169, 142, 0.15);
  height: 54px;
  margin: 16px auto;
  width: 100%;
  color: #939393;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 18px 16px;
}

.contact-form-card #message {
  height: 270px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 8px 35px 0px rgba(187, 169, 142, 0.15);
  width: 100%;
  color: #939393;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.contact-form-card #message::placeholder {
  position: absolute;
  top: 18px;
  left: 16px;
}

.contact-form-card button {
  width: 243px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 32.5px;
  border: 1px solid #3d4f5c;
  background: #3d4f5c;
  color: #fff;
  margin-top: 40px;
}

.footer {
  position: relative;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 120px;
  font-family: var(--font-medium);
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 1fr;
  gap: 40px;
}

.footer a {
  color: var(--complementary-green, #46b8c8);
  margin: auto;
  margin-left: 0;
  text-align: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
}

.footer-group {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  align-content: start;
  height: 162px;
  align-self: flex-start;
}

.footer-group:nth-child(1) {
  align-content: space-between;
  margin-top: -10px;
}

.footer-group:nth-child(1) .footer-grey {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 156px;
  position: relative;
  margin: 40px auto 0 auto;
}

.footer-group:nth-child(3) .footer-grey {
  margin-left: 0;
  margin-top: 0;
  width: 328px;
}

.footer-group:nth-child(4) {
  height: 163px;
}

.footer-group:nth-child(4) div {
  display: grid;
  grid-template-rows: auto;
  gap: 12px;
  height: 23px;
}

.footer-grey {
  color: #939393;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.footer-logo {
  width: 179px;
  height: 43px;
  margin: auto;
}

/* Tablet */
@media (min-width: 401px) and (max-width: 1024px) {
  .container {
    width: 100%;
    margin: auto 10px;
    max-width: 1024px;
    margin: auto;
  }

  nav {
    padding: 20px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    margin-top: 60px;
    background-color: #fff;
  }

  .nav-links button {
    margin-top: 20px;
  }

  .nav-links ul {
    list-style: none;
    width: 100%;
    text-align: center;
    display: block;
  }

  .nav-links ul li {
    margin: auto;
    padding-bottom: 40px;
  }

  .nav-links button::after {
    content: '';
    display: block;
    width: 40%;
    height: 1px;
    background-color: var(--primary);
    position: absolute;
    bottom: calc(60%);
    left: 0;
    transform: translateX(87%);
  }

  .nav-menu {
    display: none;
    z-index: 2;
  }

  .nav-menu-toggle {
    visibility: visible;
    display: block;
  }

  #cta-image {
    display: none;
  }

  section {
    padding-top: 70px;
    padding-bottom: 70px;
    width: 90%;
    margin: auto 10px;
    overflow: hidden;
    position: relative;
  }

  section p {
    text-align: center;
  }

  .section-image {
    display: none;
  }

  .button-ghost:hover {
    display: inline-block;
  }

  .cta h1 {
    font-size: 3.5em;
    line-height: 100%;
    letter-spacing: -1.7px;
    margin-bottom: 25px;
    text-align: center;
  }

  .cta .button {
    text-align: center;
    margin: auto;
    display: block;
  }

  section h2 {
    font-size: 2.5em;
    text-align: center;
  }

  section h3 {
    font-size: 2em;
    text-align: center;
  }

  section p {
    font-size: 1.5em;
    margin: 2em auto;
  }

  .features-grid-container {
    display: grid;
    grid-column-gap: 80px;
  }

  .features-grid-item h3 {
    font-size: 1.5em;
    padding: 19px 0;
    margin: 0.5em auto;
  }

  .features-grid-item > p {
    font-size: 24px;
  }

  .features-grid-item h3::after {
    content: '';
    position: absolute;
    left: -10px;
    bottom: 3px;
    width: 50px;
    height: 1px;
    background-color: #3d4f5c;
  }

  #thumb-rectangle-text::after {
    display: none;
  }

  .values-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 40px;
  }

  .values-grid-item > h3 {
    margin: 20px auto;
    text-align: center;
  }

  .values-grid-item h3::after {
    left: 50%;
  }

  .works-grid-container {
    grid-template-columns: 1fr;
  }

  .works-card {
    margin-bottom: 25px;
    align-items: center;
    margin: auto;
  }

  .works-card p {
    width: 80vw;
  }

  .works-card figure {
    margin: 25px;
  }

  .values-grid-item > p {
    font-size: 24px;
    height: auto;
    margin: auto;
  }

  .works-card figure {
    margin: 5px;
  }

  #works-h3 {
    width: 100%;
    padding: 0;
    font-size: 24px;
    font-style: normal;
    margin-top: -120px;
  }

  #contact-form-section {
    padding-bottom: 70px;
    width: 95%;
    margin: auto;
  }

  .contact-form h2 {
    font-size: 40px;
    font-style: normal;
    margin-top: -40px;
  }

  .contact-form p {
    text-align: center;
  }

  .contact-form {
    margin: auto;
    padding: 0;
  }

  .contact-form-card form {
    padding: 10px;
    width: 100%;
    margin: auto;
  }

  .contact-form-card::before {
    display: none;
  }

  #hiring-section::after,
  #hiring-section::before {
    display: none;
  }

  #hiring-button {
    display: block;
  }

  .footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 120px;
    font-family: var(--font-medium);
  }

  .footer a {
    margin: 0.5em auto;
  }

  .footer-group:nth-child(1) .footer-grey {
    margin: 16px auto;
  }

  .footer-group:nth-child(1) {
    text-align: center;
    margin: 16px auto;
    height: auto;
  }

  .footer-group:nth-child(2) {
    text-align: center;
    margin: 16px auto;
    height: auto;
  }

  .footer-group:nth-child(3) {
    text-align: center;
    margin: 16px auto;
    height: auto;
  }

  .footer-group:nth-child(3) .footer-grey {
    max-width: 300px;
    font-size: 0.9em;
  }

  .footer-group:nth-child(4) {
    text-align: center;
    margin: 16px auto;
    height: auto;
  }

  .footer-group:nth-child(4) div {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    gap: 30px;
  }
}

/* Mobile */
@media (max-width: 400px) {
  .container {
    width: 100%;
    margin: auto 10px;
    max-width: 400px;
    margin: auto;
  }

  nav {
    padding: 20px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    margin-top: 60px;
    background-color: #fff;
  }

  .nav-links button {
    margin-top: 20px;
  }

  .nav-links ul {
    list-style: none;
    width: 100%;
    text-align: center;
    display: block;
  }

  .nav-links ul li {
    margin: auto;
    padding-bottom: 40px;
  }

  .nav-links button::after {
    content: '';
    display: block;
    width: 40%;
    height: 1px;
    background-color: var(--primary);
    position: absolute;
    bottom: calc(60%);
    left: 0;
    transform: translateX(87%);
  }

  .nav-menu {
    display: none;
    z-index: 2;
  }

  .nav-menu-toggle {
    visibility: visible;
    display: block;
  }

  #cta-image {
    display: none;
  }

  section {
    padding-top: 70px;
    padding-bottom: 70px;
    width: 90%;
    margin: auto 10px;
    overflow: hidden;
    position: relative;
  }

  .section-image {
    display: none;
  }

  .cta h1 {
    font-size: 3.5em;
    line-height: 100%;
    letter-spacing: -1.7px;
    margin-bottom: 25px;
    text-align: center;
  }

  .cta .button {
    text-align: center;
    margin: auto;
    display: block;
  }

  section h2 {
    font-size: 2.5em;
    text-align: center;
  }

  section h3 {
    font-size: 2em;
    text-align: center;
  }

  section p {
    font-size: 1.2em;
    margin: 2em auto;
  }

  .features-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 80px;
  }

  .features-grid-item > p {
    font-size: 24px;
    height: auto;
    margin: 20px auto;
  }

  .features-grid-item h3 {
    font-size: 1.5em;
    padding: 19px 0;
    margin: 0.5em auto;
  }

  .features-grid-item h3::after {
    content: '';
    position: absolute;
    left: -10px;
    bottom: 3px;
    width: 50px;
    height: 1px;
    background-color: #3d4f5c;
  }

  #thumb-rectangle-text::after {
    display: none;
  }

  .values-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 40px;
  }

  .values-grid-item > h3 {
    margin: 20px auto;
  }

  .works-grid-container {
    grid-template-columns: 1fr;
  }

  .works-card p {
    width: 80vw;
  }

  .works-card figure {
    display: inline-block;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin: 0;
    width: 45%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  .works-card figure img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .values-grid-item > h3 {
    margin: 20px auto;
    text-align: center;
  }

  .values-grid-item h3::after {
    left: 40%;
  }

  .values-grid-item > p {
    font-size: 24px;
    height: auto;
    margin: auto;
  }

  .works-card figure {
    margin: 5px;
  }

  #works-h3 {
    width: 100%;
    padding: 0;
    font-size: 1.2em;
    font-style: normal;
    margin-top: -120px;
  }

  .thumb-left::before,
  .thumb-left::after {
    display: none;
  }

  #contact-form-section {
    padding-bottom: 70px;
    width: 95%;
    margin: auto;
  }

  .contact-form h2 {
    font-size: 40px;
    font-style: normal;
    margin-top: -40px;
  }

  .contact-form p {
    text-align: center;
  }

  .contact-form {
    margin: auto;
    padding: 0;
  }

  .contact-form-card form {
    padding: 10px;
    width: 100%;
  }

  .contact-form-card::before {
    display: none;
  }

  #hiring-section::after,
  #hiring-section::before {
    display: none;
  }

  .footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 120px;
    font-family: var(--font-medium);
  }

  .footer a {
    margin: 0.5em auto;
  }

  .footer-group:nth-child(1) .footer-grey {
    margin: 16px auto;
  }

  .footer-group:nth-child(1) {
    text-align: center;
    margin: 16px auto;
    height: auto;
  }

  .footer-group:nth-child(2) {
    text-align: center;
    margin: 16px auto;
    height: auto;
  }

  .footer-group:nth-child(3) {
    text-align: center;
    margin: 16px auto;
    height: auto;
  }

  .footer-group:nth-child(3) .footer-grey {
    max-width: 300px;
    font-size: 0.9em;
  }

  .footer-group:nth-child(4) {
    text-align: center;
    margin: 16px auto;
    height: auto;
  }

  .footer-group:nth-child(4) div {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    gap: 30px;
  }
}
